/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-img {
  width: 150px;
}

.heading-home {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 56px;
  color: #6d396b;
  text-align: center;
}

@media (min-width: 576px) {
  .heading-home {
    font-size: 48px;
  }
}
